@font-face {
    font-family: Pokemon;
    src: url('PKMN RBYGSC.ttf');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pokemon;
}

body {
    background-image: url('Assets/wallpaper.jpg');
    background-size: cover;
    background-position-y: -150px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #88C06F;
}



.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: #b5ff87;
    border-style: double;
    border-color: #6e906a;
    border-width: 10px;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0;
    padding: 1px 40px;
    background-image: url('Assets/Pokeball.png');
    background-repeat: no-repeat;
    background-position:left center;
    background-size: 40px;
}

nav a {
    display: inline-block;
    color: #6e9c6d;
    text-decoration: none;
    font-size: 25px;
    margin-right: -30px;
}

nav li:hover {
    transform: scale(1.2);
    transition: transform 150ms ease-in-out;
    box-shadow: 0px 2px 4px 0px #6e9c6d;
    background-color: #b5ff87;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0%;
    margin-top: 2%;
    align-items: center;
    align-content: center;
    height: 480px;
}




.header-case {
    background-image: url(Assets/PokemonTexbox.png);
    background-size:contain;
    background-color: white;
    width: 450px;
    height: 280px;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px #000000;
    white-space: wrap;
    font-size: 15px;
    font-weight: 600;
}

/* About */
.header-case2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0%;
    margin-top: 2%;
    align-items: center;
    align-content: center;
    height: 480px;
    flex-wrap: wrap;
}

.MMCLtext{
    background-image: url(Assets/PokemonTexbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    width: 450px;
    height: 150px;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px #000000;
    font-size: 20px;
    position: relative;
}

img[alt~="MMCL"] {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.MMCLtext1{
    background-image: url(Assets/PokemonTexbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    width: 450px;
    height: 150px;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px #000000;
    font-size: 20px;
    position: relative;
}

.MMCLtext2{
    background-image: url(Assets/PokemonTexbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    width: 450px;
    height: 150px;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px #000000;
    font-size: 15.5px;
    position: relative;
}


/* Skills */

.container2 {
    display: flex;
    padding: 10px 10%;
    background-color: #b5ff87;
    border-style: double;
    border-color: #6e906a;
    border-width: 10px;
    align-items: center;
    justify-content: center;
    color: #6e9c6d;
    text-decoration: none;
    font-size: 25px;
}


.skillsHeader {
    margin-top: 2%;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add padding for better visual appearance */
    background-color: white;
    margin-left: 38%;
    margin-right: 38%;
    box-shadow: 0px 2px 10px 0px #000000;
}

.skillsHeader2 {
    margin-top: 2%;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add padding for better visual appearance */
    background-color: white;
    margin-left: 39%;
    margin-right: 39%;
    box-shadow: 0px 2px 10px 0px #000000;
}

img[alt~="Charizard"] {
    position: relative;
}

.icons {
    position: relative;
    width: 20px;
}

.skillslist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 50px;
}

.skillslist div {
    display: flex;
    flex-direction: column;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-content: center;
    background: white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-style:dashed;
    box-shadow: 0px 2px 10px 0px #000000;
}

.skillslist div h3 {
    display: flex;
    justify-content: center;
}

.skillslist2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 50px;
}

.skillslist2 div {
    display: flex;
    flex-direction: column;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-content: center;
    background: white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-style:dashed;
    box-shadow: 0px 2px 10px 0px #000000;
}

.skillslist2 div h3 {
    display: flex;
    justify-content: center;
}



/* Contacts */

.contacts {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contactslist {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border-style: dashed;
    border-color: black;
    background: white;
    margin: 2rem auto;
    padding: 0.5rem;
    text-decoration: none;
}

.contacts .contactslist a {
    text-decoration: none;
    color: black;
}


img [alt ~= "cicon"] {
    position: relative;
    width: 10px;
}

img[alt~="PokeNav"]{
    position:relative;
    height: 25px;
    width: 30px;
}
